@font-face {
    font-family: andyBold;
    src: url(../fonts/andybold.ttf);
}

body {
    background-image: url("../images/wall1.png");
    cursor: url("../images/pickaxe.png"), default;
    font-family: andyBold;
}

.gem {
    width: 150px;
    display: block;
}
