@font-face {
	font-family: andyBold;
	src: url(../fonts/andybold.ttf);
}

  *, *:before, *:after {
	cursor: url("../images/pickaxe.png"), default;
}

body {
	background-image: url("../images/terrariaBackground.png");
	background-repeat: no-repeat;
	background-size: default;
	background-attachment: fixed;
	font-family: andyBold;
	color: #fff;
}

html.touch-mode-grab #gem-mine {
	cursor: url("../images/pickaxe.png"), default;
}

html.touch-mode-grabbing #gem-mine {
	cursor: url("../images/pickaxe1.png"), default;
}

#logo {
	width: 100%;
}

/* Game Rules */

#rules {
	background-image: url("../images/livingleaf.PNG");
	color: #fff;
	padding: 5px;
	border: 15px solid transparent; 
	border-image: url("../images/livingwood.PNG") 25% round;
}

#rules p a {
	width: 100px;
	color: white;
	padding: 0 auto;
}

#rules ul li {
  margin-left: 15px;
}

/*Scoreboard*/

#scoreboard {
	background-image: url("../images/granite1.PNG");
	border: 15px solid transparent;
	padding: 10px;
	border-image: url("../images/granite2.PNG") 25% round;
	overflow:auto;
}

#scoreboard h5 {
	float: left;
	width: 75%;
	text-shadow: 1px 1px #000;
}

#scoreboard h4 {
	float: left;
	width: 25%;
	text-align: right;
	color: #2d5;
	text-shadow: 1px 1px #fff;
}

.introText {
	text-align: center;
	padding-top: 20px;
}


/* Game Section */

#gem-mine {
	background-image: url("../images/stone1.png");
	cursor: inherit;
	height: 100%;
	border: 15px solid transparent;
	border-image: url("../images/stone2.PNG") 25% round;
}

#gem-mine * {
	cursor: inherit;
}

.game-button {
	background-position: center;
	background-image: url("../images/stone1.png");
	border: 0px;
	width: 100%;
	margin: 15px 0;
}

.gem {
	width: 100%;
	padding: 0;
}

/* rescued npc section */

#npc-farm {
	clear: both;
	margin: 0px auto;
	min-height: 100px;
	background-image: url("../images/boreal1.png");
	border: 15px solid transparent;
	border-image: url("../images/boreal2.png") 30% round;
}

#npc-farm::after {
	overflow: auto;
	content: "";
	clear: both;
	display: block;
}

.npc {
	height: 70px;
	padding: 5px;
	float: left;
	display: block;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75px;
  margin: 10px;
}

footer p {
  color: #663399;
  background-color: #222222;
  width: 100%;
  text-align: center;
  margin: 0px;
}

footer img {
  width: 100%;
  border: 1px solid #222222;
}

footer img:hover {
  border: 1px solid #663399;
}

@media only screen and (max-width: 600px) {
  footer {
    position: relative;
  }
}